.Intro{
    align-items: center;
    text-align: center; 
    min-height: 100vh; 
    display: flex; /* Allow vertical centering */
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    padding: 0 16px;
}
