.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(5px); /* Adds a modern, frosted glass effect */
    z-index: 1000; /* Ensures the navbar is on top of everything else */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */

    display: flex;
    justify-content: right; /* Center the navigation links horizontally */
    padding: 16px 0;
}

.Navbar_Links {
    display: flex;
    gap: 32px; /* Space between the links */
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.Navbar_Links a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: rgb(30, 41, 59); 
    font-size: 16px;
    font-weight: 500;
    transition: color 0.15s ease-in-out;
}

.Navbar_Links a:hover {
    color: rgb(59, 130, 246); 
}