.Title_Intro{
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 72px;
    margin-block-end: 8px;
}

.Title_Blue_Yan{
    font-size: 78px;
    color: #3b82f6;
}

.Title_Gray_Intro{
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: #64748b;
    max-width: 700px;
    /* Give left and right empty space. */
    margin: 0 auto 32px auto;
    margin-block-end: 32px;
}